<configuration scan="true" scanPeriod="60 seconds">

  <property name="LOG_HOME" message="/tpm/stream-collector/logs"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
      </layout>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <logger name="com.xianyue.sample" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
